/* app-wide defaults*/

body {
  background-color: #ffffff;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: white;
  font-family: 'Noto Sans Jp';

}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  /*background-color: #f5f5f5;*/
  background-color: #375474;
  border-bottom: 1px solid #ddd;
  border-radius: 12px;
  
  
}

.app-header a {
  color: whitesmoke;
}

.app-header button {
  color: whitesmoke;
}

h3{
  font-size: 1.5rem;
  color: #100c08 ;
  font-weight: 900;
}


.card {
  padding: 2em;
  display: flex;
}

/*.recipe_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: palegreen;
}*/


