.home {
  padding: 2rem;
  text-align: center;
  background: #faf7f2; /* soft paper-like */
  min-height: 100vh;
}

.header h2 {
  font-family: 'Noto Sans JP';
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

span {
  color: #BC002D;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  background: #fff8f0;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 0 6px 12px -2px rgba(0,0,0,0.4);
  /*text-decoration: none;*/
  color: #333;
  transition: transform 0.2s, box-shadow 0.2s;

}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 0.75rem;
}

.cardVideo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  opacity: 90%;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover .cardVideo {
  opacity: 1;
}

button {
    background-color: transparent;
    border: 1px solid #ccc;
    margin-left: 20px;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px;
             
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.30);
}
