/* Login.module.css */

.login {
  background: #375474;
  padding: 2rem;
  border-radius: 3px;
  max-width: 800px;
  margin: 2rem auto;
  /*position: relative;*/
  /*overflow: hidden;*/
  color: white; 
  min-height: 600px; 
  
}

/*body {
  background-image: url();
}*/

.login h2 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 2px #BC002D;
  text-transform: uppercase;
  font-weight: 800;
}

.login form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login input {
  padding: 0.75rem;
  border: 2px double #BC002D; 
  border-radius: 10px; 
  background-color: whitesmoke; 
  font-size: 1.2rem;
  /*transition: all 0.3s ease;*/
}

.login button{
  
  background-color: #E8B84A;
  font-weight: bold;
  font-size: 1.2rem;
}

